/nbproject/
/thinkphp/
/vendor/
/runtime/*
#/addons/*
/application/admin/command/Install/*.lock
#/public/assets/libs/
#/public/assets/addons/*
/public/uploads/*
#/application/config.php

.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
/runtime
#/application/extra/addons.php
#/public/assets/js/addons.js

/.idea
