<!DOCTYPE html>
<html lang="{$config.language}">
{extend name="vote/layoutextend" /}
{block name="body"}
<style>
    .flex{
        flex-direction: row;
        flex-wrap: nowrap
    }
</style>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item" pane>
        <label class="layui-form-label">搜索</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
</form>
<div class="layui-row layui-col-space15 flex">

    <div class="layui-col-xs6 ">
        <div class="thumbnail" style="margin-bottom: 0">
            <img src="http://pic1.win4000.com/wallpaper/2/5121c63307b3e.jpg" alt="...">

            <div class="row text-center  ">
                <div class="layui-col-xs6" style="padding:10px 0 ;">
                    <h4 style="font-weight: bold" class=""><i class="fa fa-male" aria-hidden="true"
                                                              style="color: #1296db"></i> 包大人</h4>

                    <h4 style="font-weight: bold;padding-top: 5px" class=""><i class="fa fa-line-chart"
                                                                               aria-hidden="true"></i>139 票</h4>
                </div>
                <div class="layui-col-xs6" style="padding:10px 0 ;">
                    <a href="javascript:void(0)" class="btn btn-info" style="border-radius: 0;">投票</a>
                </div>


            </div>

        </div>

    </div>
    <div class="layui-col-xs6 ">
        <div class="thumbnail" style="margin-bottom: 0">
            <img src="http://pic25.nipic.com/20121125/6862893_025713807000_2.jpg" alt="...">

            <div class="row text-center  ">
                <div class="layui-col-xs6" style="padding:10px 0 ;">
                    <h4 style="font-weight: bold" class=""><i class="fa fa-male" aria-hidden="true"
                                                              style="color: #1296db"></i> 包大人</h4>

                    <h4 style="font-weight: bold;padding-top: 5px" class=""><i class="fa fa-line-chart"
                                                                               aria-hidden="true"></i>139 票</h4>
                </div>
                <div class="layui-col-xs6" style="padding:10px 0 ;">
                    <a href="javascript:void(0)" class="btn btn-info" style="border-radius: 0;">投票</a>
                </div>


            </div>

        </div>

    </div>
    <div class="layui-col-xs6 ">
        <div class="thumbnail" style="margin-bottom: 0">
            <img src="http://pic1.win4000.com/wallpaper/2/5121c63307b3e.jpg" alt="...">

            <div class="row text-center  ">
                <div class="layui-col-xs6" style="padding:10px 0 ;">
                    <h4 style="font-weight: bold" class=""><i class="fa fa-male" aria-hidden="true"
                                                              style="color: #1296db"></i> 包大人</h4>

                    <h4 style="font-weight: bold;padding-top: 5px" class=""><i class="fa fa-line-chart"
                                                                               aria-hidden="true"></i>139 票</h4>
                </div>
                <div class="layui-col-xs6" style="padding:10px 0 ;">
                    <a href="javascript:void(0)" class="btn btn-info" style="border-radius: 0;">投票</a>
                </div>


            </div>

        </div>

    </div>
</div>
{/block}
</html>
