<div class="text-center" style="padding: 10px 0 80px 0;">
    © 成都君忆汽车服务有限公司. All Rights Reserved
</div>
</div>
<div class="text-center footer_box">
    <div class="layui-row row_style" id="title">
        <div class="layui-col-xs4 item {if $Request.action == 'index'} active_s {/if}" id="vote">全部参赛</div>
        <div class="layui-col-xs4 item {if $Request.action == 'ranking'} active_s {/if}" id="ranking">当前排名</div>
        <div class="layui-col-xs4 item {if $Request.action == 'rules'} active_s {/if}" id="rules">活动规则</div>

    </div>
</div>


<!-- jQuery -->
<script src=https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdn.staticfile.org/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!--Layui CDN-->
<script src="//layui.hcwl520.com.cn/layui/layui.js?v=201809030202"></script>
<!--瀑布流插件-->
<!--<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>-->
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript" charset="utf-8"></script>
<script>
    window.onload = function () {
        var ajaxurl = '{:url("index/sharedata")}';
        var urll = location.href.split('#')[0];
        $.ajax({
            url: ajaxurl,
            type: "post",
            data: {urll: urll},
            dataType: "json",
            success: function (s) {
                f = $.parseJSON(s);
                wx.config({
                    debug: false, //分享成功后可以关闭 false
                    appId: f.appid,
                    timestamp: f.timestamp,
                    nonceStr: f.nonceStr,
                    signature: f.signature,
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                });
                wx.ready(function () {
                    wx.onMenuShareTimeline({
                        title: '{$share_title}', // 分享标题
                        link: s.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: "{$share_img}", // 分享图标 使用绝对路径
                        success: function () {

                        }
                    });
                    wx.onMenuShareAppMessage({
                        title: '{$share_title}',
                        desc: "{$share_body}", // 分享描述
                        link: s.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: "{$share_img}", // 分享图标 使用绝对路径
                        type: '', // 分享类型,music、video或link，不填默认为link
                        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                        success: function () {

                        }
                    });
                });

            },
            error: function () {
                console.log("通信失败");
            }
        });
    }

    layui.use(['carousel', 'form', 'flow', 'upload'], function () {
        var flow = layui.flow;
        //当你执行这样一个方法时，即对页面中的全部带有lay-src的img元素开启了懒加载（当然你也可以指定相关img）
        flow.lazyimg();
        var carousel = layui.carousel;
        var form = layui.form;
        var upload = layui.upload;
        $('#apply').click(function () {
            layer.open({
                type: 1,
                title: "报名",
                area: ['400px', '90%'],
                shadeClose: false, //点击遮罩关闭
                content: '<form class="layui-form" id="add-form" action="/index/index/sign" enctype="multipart/form-data" method="post">\n' +
                    '            <br>\n' +
                    '            <div class="layui-form-item center" >\n' +
                    '            <label class="layui-form-label" style="width: 100px" >姓名</label>\n' +
                    '            <div class="layui-input-block">\n' +
                    '            <input type="text" name="name" required value="" style="width: 240px" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '            <div class="layui-form-item" >\n' +
                    '            <label class="layui-form-label" style="width: 100px" >车型</label>\n' +
                    '            <div class="layui-input-block">\n' +
                    '            <input type="text" name="model" required value="" style="width: 240px" lay-verify="required" placeholder="请输入车型" autocomplete="off" class="layui-input">\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '            <div class="layui-form-item" >\n' +
                    '            <label class="layui-form-label" style="width: 100px" >日均流水</label>\n' +
                    '            <div class="layui-input-block">\n' +
                    '            <input type="text" name="daily_running_water" required value="" style="width: 240px" lay-verify="required" placeholder="请输入日均流水" autocomplete="off" class="layui-input">\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '            <div class="layui-form-item" >\n' +
                    '            <label class="layui-form-label" style="width: 100px" >服务分</label>\n' +
                    '            <div class="layui-input-block">\n' +
                    '            <input type="text" name="service_points" required value="" style="width: 240px" lay-verify="required" placeholder="请输入服务分" autocomplete="off" class="layui-input">\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '            <div class="layui-form-item" >\n' +
                    '            <label class="layui-form-label" style="width: 100px" >自我描述</label>\n' +
                    '            <div class="layui-input-block">\n' +
                    '            <input type="text" name="describe_yourself" required value="" style="width: 240px" lay-verify="required" placeholder="请输入自我描述" autocomplete="off" class="layui-input">\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '            <div class="layui-form-item" >\n' +
                    '            <label class="layui-form-label" style="width: 100px" >封面图片</label>\n' +
                    '            <div class="layui-upload layui-input-block">\n' +
                    '            <button type="button" class="layui-btn" id="fileUp"><i class="layui-icon">&#xe67c;</i>上传图片</button>\n' +
                    '            <input class="layui-upload-file" type="file" accept="image/*" name="file">\n' +
                    '           <div class="layui-upload-list">\n' +
                    '           <img class="layui-upload-img" id="demo1">\n' +
                    '           <p id="demoText"></p>\n' +
                    '           </div>\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '            <div class="layui-form-item">\n' +
                    '            <div class="layui-input-block">\n' +
                    '                <button class="layui-btn" lay-submit lay-filter="save" >立即提交</button>\n' +
                    '                <button type="reset" class="layui-btn layui-btn-primary" id="closeBtn" >重置</button>\n' +
                    '            </div>\n' +
                    '            </div>\n' +
                    '        </form>\n'

            });

        })
        form.render();
        //上传图片
        upload.render({
            elem: '#fileUp'
            , url: '{:url("index/uploads")}'
            , accept: 'images'
            , method: 'post'
            , acceptMime: 'image/*'
            , auto: false //选择文件后不自动上传
            , bindAction: '#testListAction' //指向一个按钮触发上传
            , done: function (res) {
                $(this.item).prev("div").children("input").val(res.data.src)
            }
        });
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , height: '200px'
            , arrow: 'none' //始终显示箭头
            , anim: 'fade' //切换动画方式
            , indicator: 'none'
        });
        //排名ID
        var count = 1;

        flow.load({
            elem: '.flex' //流加载容器
            // , scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
            , done: function (page, next) { //加载下一页

                $.get('{:url("index/lazyPlayerInfo")}', {page: page}, function (data) {
                    data = JSON.parse(data);
                    // console.log(data);

                    if(data.length==0){
                        layer.msg('没有更多了');
                    }


                    //模拟插入
                    setTimeout(function () {
                        var lis = [];

                        for (var i in data){
                            // console.log(data[i].wechat_user.sex);
                            lis.push('<div class=" flex_content">\n' +
                                '                <div class="thumbnail item_box" style="">\n' +
                                '                    <a href="/index/index/playerDetails?application_id='+data[i].id+'" ><img src="{$config[\'upload\'][\'cdnurl\']}/'+data[i].applicationimages+'" alt="..."></a>\n' +
                                '                    <div class="row text-center  " style="margin: 0">\n' +
                                '                        <div class="layui-col-xs6 pd_tb10-lr0 pull-left" >\n' +
                                '                            <h4 style="font-weight: bold" class=""><i class="fa {eq name="'+data[i].wechat_user.sex+'" value="1"} fa-male {else/} fa-female {/eq}" aria-hidden="true"\n' +
                                '                                                                    ></i> '+data[i].name+'</h4>\n' +
                                '\n' +
                                '                            <h4 style="font-weight: bold;padding-top: 5px" class=""><i class="fa fa-line-chart"\n' +
                                '                                                                                    aria-hidden="true"></i>'+data[i].votes+' 票</h4>\n' +
                                '                        </div>\n' +
                                '\n' +
                                '                        <div class="layui-col-xs12" id="voting">\n' +
                                '\n' +
                                '                            {if '+data[i].isTodayVote+' == 1}\n' +
                                '                            <a href="javascript:void(0)" class="btn btn-info send_vote" style="">今天已投过票</a>\n' +
                                '                            {else/}\n' +
                                '                            <a href="javascript:void(0)" class="btn btn-info send_vote" style="">投票给<strong style="font-size: 15px" class="text-danger" id="application_id">'+data[i].id+'</strong>号</a>\n' +
                                '                            {/if}\n' +
                                '                            \n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </div>');
                            // console.log($('.fa-fa').length);
                        }


                        next(lis.join(''), page < 6); //假设总页数为 6
                    }, 500);

                })

            }
        });

        flow.load({
            elem: '#rank-list' //流加载容器
            // , scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
            , done: function (page, next) { //加载下一页


                $.ajax({
                    dataType: 'json',
                    type: 'POST',
                    url: '{:url("index/rankingMore")}',
                    data: {
                        page: page
                    },
                    success: function (msg) {
                        msg = JSON.parse(msg);
                        // console.log(msg);

                        if (msg.length == 0) {
                            layer.msg('没有更多了');
                        }

                        //模拟插入
                        setTimeout(function () {
                            var lis = [];

                            for (var i = 0; i < msg.length; i++) {
                                lis.push('<li class="layui-col-xs12"><div class="layui-col-xs10">\n' +
                                    '            <label class="name">' + count + ' ' + msg[i].name + '</label>\n' +
                                    '        </div>\n' +
                                    '        <div class="layui-col-xs2">\n' +
                                    '            <label class="name">' + msg[i].votes + '票</label>\n' +
                                    '        </div></li>');
                                count++;
                            }
                            next(lis.join(''), page < 6); //假设总页数为 6
                        }, 500);
                    }
                });

            }
        });

    });

    document.getElementById('vote').onclick = function () {
        window.location = '/';
    };
    document.getElementById('ranking').onclick = function () {
        window.location = '/index/index/ranking';
    };
    document.getElementById('rules').onclick = function () {
        window.location = '/index/index/rules';
    };

</script>
</body>

</html>